.resize-drag {
    position: absolute;
    height:20px;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    background-color: #29e;
    color: white;
    font-size: 5px;
    font-family: sans-serif;
    z-index: 10;
    touch-action: none;
  
    /* This makes things *much* easier */
    box-sizing: border-box;
  }

  .timeline {
      height:20px;
      border: 1px solid #dbdbdb;
      margin-bottom: 2px;
  }

  .timelineDate{
      z-index: 1;
      color: #dbdbdb;
      width: 100%;
      margin: auto
  }