@font-face {
  font-family: 'HKGrotesk';
  src: local('HKGrotesk'), url(./fonts/HKGrotesk/HKGrotesk-Regular.otf) format('otf');
}

body {
  margin: 0;
  font-family: HKGrotesk, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.0625rem;
  line-height: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
